!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
	%head
		%title Feedback
		= stylesheet_link_tag("default")
	%body
		#wrapper
			- if logged_in?
				#header
					#header-inner
						%p
							= link_to 'Clique aqui para ver todos membros da equipe', root_url
							%span
								%small Logado como
								%small= h current_user.username
								%small= "(#{link_to("sair", logout_url)})"
			#content
				= yield
